<nav class="fixed-nav-bar">
      <div class="co-name"> BlocItOff </div>
      <a ui-sref="active"> Active Tasks </h1> 
      <a ui-sref="history"> Past Tasks </h1>
      <ui-view></ui-view>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 app-content">
            </br>
            <h4>EXPIRED TASKS<h4>
            <table class="table table-striped">
                </br>
                <tr ng-repeat="task in tasks | orderBy: 'created_at': true" ng-hide="expiredTask(task)">
                    </br>
                    <td>{{ task.name }} <a class="btn btn-default pull-right btn-xs" href="#" role="button" ng-click="tasks.$remove(task)">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div> 
