
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container-fluid">
    <div class="row">
        <div class="button-style">
          <h1>Completed and Expired Tasks</h1>
            <table class="table table-striped">
                <tr ng-repeat="task in tasks | orderBy: 'created_at': true" ng-hide="expiredTask(task)">
                    <td>{{ task.name }} <a class="btn btn-default pull-right btn-xs" href="#" role="button" ng-click="tasks.$remove(task)">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div> 
